:root {
  --bodyBg: #D8DBE2;
  --menuBg: #373F51;
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg) !important;
  font-display: swap !important;
}

#menu {
  background: var(--menuBg);
}

.ui.vertical.menu .item > i.icon {
  float: left !important;
  margin: 0 0.5em !important;
}

.ui.inverted.menu .active.item {
  width: 310px !important;
}

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
  width: 310px !important;
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.employeeCard {
  margin: 10px !important;
  width: 200px !important;
}

.form-required {
  color: red !important;
}

.ui.text.container {
  max-width: 400px !important;
}

.version {
  color: white !important;
  padding-left: 2rem;
  position: absolute;
  bottom: 1rem;
  font-size: 12px;
}


@media only screen and (max-width: 1440px) {
  .ui.huge.vertical.menu {
    width: 10rem
  }
  .ui.text.container {
    max-width: 10rem !important;
  }
  .ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    width: 10rem !important;
  }
  .ui.inverted.menu .active.item {
    width: 10rem !important;
  }
  .container.wrapper {
    padding-left: 5rem;
  }
  .cell {
    overflow: hidden !important;
    height: 25px !important;
  }

}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}